
#breadgood-server
breadgood-server/HELP.md
breadgood-server/.gradle
breadgood-server/build/
breadgood-server/!gradle/wrapper/gradle-wrapper.jar
breadgood-server/!**/src/main/**/build/
breadgood-server/!**/src/test/**/build/
docker/mariadb/data/**


### STS ###
breadgood-server/.apt_generated
breadgood-server/.classpath
breadgood-server/.factorypath
breadgood-server/.project
breadgood-server/.settings
breadgood-server/.springBeans
breadgood-server/.sts4-cache
breadgood-server/bin/
breadgood-server/!**/src/main/**/bin/
breadgood-server/!**/src/test/**/bin/
# git submodule add [자신의 private 저장소] ./src/main/resources/config

### IntelliJ IDEA ###
**/.idea
breadgood-server/*.iws
breadgood-server/*.iml
breadgood-server/*.ipr
breadgood-server/out/
breadgood-server/!**/src/main/**/out/
breadgood-server/!**/src/test/**/out/

breadgood-server/### NetBeans ###
breadgood-server/nbproject/private/
breadgood-server/nbbuild/
breadgood-server/dist/
breadgood-server/nbdist/
breadgood-server/.nb-gradle/
breadgood-server/src/main/resources/config/application-aws.yml

### VS Code ###
breadgood-server/.vscode/

### codegen ###
breadgood-server/src/main/generated/

### macOS ###
breadgood-server/.DS_Store
.DS_Store
breadgood_app/lib/api_key.dart
breadgood_app/lib/modules/main/services/main_map_service.dart
breadgood_app/lib/modules/my_page/model/userinfo.dart
breadgood_app/lib/modules/register_bakery/naver_search.dart
