[submodule "breadgood-server/src/main/resources/config"]
	path = breadgood-server/src/main/resources/config
	url = https://github.com/endbreadkings/breadgood-server-properties.git
[submodule "breadgood-server-properties"]
	path = breadgood-server-properties
	url = https://github.com/endbreadkings/breadgood-server-properties.git
