<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${termsType.title}">Document</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/privacy.css">
</head>
<body>

<div class="privacy-container">
    <div class="privacy-title">
        <h3 th:text="${termsType.title}">개인정보 처리방침</h3>
    </div>
    <div class="privacy-history-container">
        <div class="ph-item" th:each="terms,index:${termsType.termsList}"
             th:classappend="${index.index} == 0 ? active : ''">
            <div class="ph-item-header" onclick="onTogglePhItem(this);">
                <div class="ph-item-h-txt">
                    <span th:if="${index.index} == 0">[현행]</span>
                    <span th:unless="${index.index} == 0">[이전]</span>
                    <span th:text="${terms.executionDate}">2021년 07월 18일</span>
                    <span>시행안</span>
                </div>
                <span class="ph-item-h-toggle-btn">
                    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999998 1L9 9L17 1" stroke="black" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </span>
            </div>
            <div class="ph-item-content" th:utext="${terms.content}"></div>
        </div>

    </div>
</div>

</body>
<script>
    function onTogglePhItem(selectedPhItem) {
        const phItems = document.getElementsByClassName('ph-item');
        const selectedPhItemClassList = selectedPhItem.parentNode.classList;
        const ACTIVE_CLASS_NAME = 'active';

        // 활성화 된 아이템을 선택할 경우 해당 아이템만 비활성화 하고 종료
        if (selectedPhItemClassList.contains(ACTIVE_CLASS_NAME)) {
            selectedPhItemClassList.remove(ACTIVE_CLASS_NAME);
            return false;
        }

        // 모든 아이템 비활성화
        for (let i = 0; i < phItems.length; i++) {
            const phItem = phItems[i];
            if (phItem.classList.contains(ACTIVE_CLASS_NAME)) {
                phItem.classList.remove(ACTIVE_CLASS_NAME)
            }
        }

        // 선택한 아이템에서만 활성화
        selectedPhItemClassList.add(ACTIVE_CLASS_NAME);
    }
</script>
</html>