#bakery-list-container {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.loading img {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 24px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bl-filter-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #FFFFFF;
  margin-bottom: 12px;
}

.bl-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  margin-right: 8px;
  border-radius: 17px;
  color: #ffffff;
  font-size: 16px;
}

.bl-filter:last-of-type {
  margin-right: 0;
}

.filter-category {
  color: #2D2D41;
}

.filter-category.active {
  color: #FFFFFF;
}

.bl-filter.gray {
  background-color: #F6F7FC;
  border: 1px solid #E8EBF4;
  color: #2D2D41;
}

.filter-category img {
  margin-right: 5px;
}

.filter-location svg {
  margin-left: 5px;
}

.bl-list-wrapper {
  width: 100%;
  padding: 0 20px 20px 20px;
}

.bl-list-empty-wrapper {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 80px);
}

.bl-list-empty {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.bl-list-empty img {
  margin-bottom: 24px;
  width: 155px;
}

.bl-li-empty-desc {
  margin-bottom: 20px;
  color: #999999;
  font-size: 16px;
  line-height: 1.4;
}

.bakery-reg-btn {
  width: 260px;
  height: 40px;
  background-color: #E5EDFF;
  color: #2D2D41;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 20px;
}

.bakery-reg-btn span {
  margin-right: 6px;
}

.bl-list-item {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 16px;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px 0 #1c2f8517;
  border-radius: 16px;
}

.bl-li-register {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #666677;
  font-size: 12px;
}

.rg-profile-img {
  margin-right: 3px;
}

.bl-li-bakery-name {
  display: flex;
  margin-bottom: 12px;
}

.bk-nm-text {
  margin-right: 6px;
  color: #2D2D41;
  font-size: 20px;
  font-weight: 800;
  font-family: NanumSquareRound;
}

.bk-nm-img {
  display: flex;
  align-items: center;
}

.bk-nm-img img {
  margin-bottom: 2px;
}

.bl-li-address {
  color: #A4A4A4;
  font-size: 12px;
}

.bl-li-signature {
  display: flex;
  flex-wrap: wrap;
  color: #666677;
}

.signature-item {
  border-radius: 4px;
  height: 20px;
  padding: 0 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  font-size: 14px;
}

.signature-item.blue {
  background-color: #EDF2FF;
}

.signature-item:last-of-type {
  margin-right: 0;
}

.signature-item.yellow {
  background-color: #FFF5E3;
}

.signature-item > span {
  display: flex;
  margin-top: 2px;
}

.sg-item-hashtag {
  margin-right: 2px;
}

.blue .sg-item-hashtag {
  color: #BFCDF0;
}

.yellow .sg-item-hashtag {
  color: #FFCA72;
}

.bl-li-review {
  display: flex;
  width: fit-content;
  background-color: #F6F6F6;
  border-radius: 4px;
  padding: 0 4px;
  color: #666677;
  height: 20px;
}

.review-item span{
  font-size: 14px;
}

.bl-li-review svg {
  margin-top: 1px;
  margin-right: 2px;
  transform: translate(0, 2px);
}

.modal-wrapper {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms
}

.modal-wrapper.open {
  transform: translateY(0px);
}

.modal-wrapper > .backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.location-filter-modal {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
  border-radius: 16px 16px 0 0;
  padding: 0 20px 28px 20px;
  filter: drop-shadow(0px -12px 18px rgba(0, 0, 0, 0.28));
}

.drag-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 20px;
  margin-bottom: 18px;
}

.drag-bar {
  width: 40px;
  height: 4px;
  background-color: #000000;
  border-radius: 4px;
  touch-action: none;
}

.location-item-wrapper {}

.lo-item-row {
  display: flex;
  margin-bottom: 6px;
}

.lo-item-row:last-of-type {
  margin-bottom: 0;
}

.lo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: calc((100% - 12px)/3);
  margin-right: 6px;
  border: 1px solid #DCDDDF;
  border-radius: 8px;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

.lo-item:last-of-type {
  margin-right: 0;
}

.lo-item.selected {
  background-color: #4579FF;
  border: 1px solid #4579FF;
  color: #FFFFFF;
}

.filter-button-wrapper {
  margin-top: 28px;
}

.lo-filter-btn {
  width: 100%;
  height: 48px;
  background-color: #4579FF;
  padding: 0;
  border: 0;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.lo-filter-btn:disabled {
  background-color: #C7C7C7;
}